.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;
  background-color: blueviolet;
  color:white;
}

nav>ul{
  display:flex;
  justify-content: space-around;
  width:80%;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
}